.datatable-doc-demo .pi-fw {
  /* padding-left: 1rem; */
}

.datatable-doc-demo .pi-filter {
  padding-left: 2rem;
}

.datatable-doc-demo .pi-filter {
  padding-left: 2rem;
}

.p-datatable .p-datatable-header {
  background: white !important;
  border-width: 0 !important;
}

.p-column-title {
  font-size: 14px;
}
