.datatable-doc-demo .pi-fw {
  padding-left: 1rem;
}

.datatable-doc-demo .pi-filter {
  padding-left: 2rem;
}

.datatable-doc-demo .pi-filter {
  padding-left: 2rem;
}

th {
  background-color: #181818;
}
