#new-chat-plus-button {
  background-color: #ee803c !important;
  line-height: 2px !important;
}
#ce-chat-feed-title-Example {
  color: #ee803c !important;
}
#ce-send-message-button {
  background-color: #ee803c !important;
  line-height: 2px;
}
.ce-photo-section {
  display: none !important;
}
#ce-delete-chat-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
#ce-delete-chat-button .anticon {
  margin-right: 5px !important;
  margin-top: -1px !important;
}
.ce-chat-title-container {
  color: #ee803c !important;
}
