.p-panelmenu {
    background: #1E1F21 !important;  
}


.p-panelmenu-header-link {
    background: #1E1F21 !important;  
    border: none !important;
    color: white !important;
    font-weight: 400 !important;
    font-size: 16px;
}

.p-panelmenu .p-panelmenu-header > a {
    padding: 0.5rem;
}


.p-panelmenu-content {
    background: #1E1F21 !important;  
    border: none !important;
    font-weight: 400 !important;
    font-size: 16px;
    color: white !important;
    
}

.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
    background: #4B4C4D !important;
}

.p-panelmenu .p-panelmenu-header > a:focus {
    box-shadow: none !important; 
}

#navPanel .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
    box-shadow: none !important;
}

#navPanel .p-panelmenu-icon {
    color: white !important;
    font-size: 0.6rem;
}

#navPanel .p-menuitem-icon {
    color: white !important;
    font-size: 1rem;
}

#navPanel .p-menuitem-text {
    color: white !important;
    font-weight: 400 !important;
}