html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.p-button:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.sbui-auth {
  max-width: 700px;
}

.sbui-btn-primary {
  background: rgb(60, 65, 203) !important;
}

.sbui-typography-link {
  color: rgb(60, 65, 203) !important;
}

.p-sidebar-header {
  padding: 0 !important;
  position: absolute;
  right: 5px;
  top: 5px;
}

.p-sidebar-content {
  padding: 0 !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
  color: white !important;
}

.graduateStatusPanel {
  margin-left: 3.8rem !important;
}

.p-float-label {
  color: white !important;
}

:root {
  --color-bg: #2481fe;
  --color-closeIcon: black;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: var(--color-bg) !important;
}

.p-button {
  background: var(--color-bg);
  border: 1px solid var(--color-bg);
}

.p-avatar.p-avatar-image > img {
  object-fit: cover !important;
}

.pi-spinner {
  color: var(--color-bg) !important;
}

.p-avatar-lg {
  width: 4rem !important;
  height: 4rem !important;
}

.p-avatar-xl {
  width: 6rem !important;
  height: 6rem !important;
}

.p-sidebar .p-sidebar-header .p-sidebar-close,
.p-sidebar .p-sidebar-header .p-sidebar-icon {
  color: var(--color-closeIcon) !important;
}

.p-button .p-button-danger {
  background: #ef4444 !important;
  border: 1px solid #ef4444;
}

.p-button .p-component .p-button-success {
  background: #22c55e !important;
  border: 1px solid #22c55e;
}
