
#link {
    width: 100%;
}

#question1 {
    width: 100%;
}

#question2 {
    width: 100%;
}

#question3 {
    width: 100%;
}

#question4 {
    width: 100%;
}

#question5 {
    width: 100%;
}

#question6 {
    width: 100%;
}

#question7 {
    width: 100%;
}